/*  Reset Setting Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0px;
}


/*  Reset Setting End */




/* Main Start*/



/* Main End*/


section{
    position: relative;
}

.inner{
    width: 100%;
    height: 100vh;
}

.inner .main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
}

.inner .main .col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.inner .main .col .header{
    text-align: center;
    padding: 200px 90px 0 90px;
}

.inner h1{
    color: white;
    font-size: 3.2857rem;
    font-weight: 700;
    font-family: Nunito,sans-serif;
}

.inner h1 span{
    color: #037fff;
}

.inner p{
    color: #9da4bb;
    font-family: 'Nunito', sans-serif;
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
}



.inner .main .col .header ul{
    margin-top: 45px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.inner .main .col .header ul li{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #2e344e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inner .main .col .header ul li:hover{
    border: 2px solid #037fff;
    transition: 0.8s;
}

.inner .main .col .header ul li:hover a{
    color: #037fff;
    transition: 0.8s;
}

.inner .main .col .header ul li a{
    color: gray;
    font-size: 1.2rem;
   
}


/* Profile Start */

header{
    width: 260px;
    height: 100vh;
    background-color: #191d2b;
    color: white;
    position: fixed;
    z-index: 10000;
    border-right: 1px solid #2e344e;
    transition: 1s;
    overflow-y: scroll;
}


header .profile-img {
    border-bottom: 1px solid #2e344e;
}

header .profile-img .img{
    margin: 15px auto 20px auto;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid #2e344e   ;
}

header .profile-img .img img{
    width: 100%;
    height: 100%;
}



header .menu-main{
    padding: 10px 7px 20px 7px;
}


header .menu-main ul li.active{
    background-color: #037fff;
}

header .menu-main ul a.active{
    color: white;
}

header .menu-main ul li{
    text-align: center;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

header .menu-main ul li:hover:before{
    left: 0px;
    transition: 1s;
}

header .menu-main ul li:hover a{
    color: white;
    transition: 0.8s;
}

header .menu-main ul li::before{
    content: '';
    display: block;
    position: absolute;
    width: 245px;
    height: 40px;
    left: -100%;
    top: 2px;
    opacity: 0.8;
    background-color: rgba(3,127,255,.2);
}


header .menu-main ul a{
    font-size: .94rem;
    letter-spacing: 1px;
    padding: 5px 0;
    color: #a4acc4;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}




header .copy-right{
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    border-top: 1px solid #2e344e;
}

/* Profile End */




/* Main Start */

main{
    width: 100%;
    height: 100vh;
}

main .content{
    margin-left: 260px;
}

/* Main End */



/* Responsive Argument Start*/


.btn{
    top: 40px;
    left: 0px;
    position: fixed;
    z-index: 99999;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: 1s;
    display: none;
}

.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e344e;
    background-color: #191d2b;
}

.btn i{
    padding: 10px;
    font-size:2rem;
    color: #a4acc4;
}


.open-menu{
    transform: translateX(0%);
    transition: 1s;
}

/* Responsive Argument End*/
body{
    background-color: #10121b;
    color: white;
    font-family: Nunito, sans-serif;
}

.container{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.aboutme{
    padding-top: 80px;
}

.title{
    position: relative;
}


.title h1{
    font-size: 2.5rem;
    position: relative;
    font-family: Nunito, sans-serif;
    padding-bottom: 10px;
}

.title h1::before, .title h1:after{
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 5px;
    border-radius: 100px;
}

.title h1::before{
    width: 100px;
    background: rgba(3,127,255,.3);
}

.title h1:after{
    width: 35px;
    background: #037fff;
}

.title span{
    font-size: 4.5rem;
    transform: translateY(-40%);
    font-weight: 900;
    position: absolute;
    top: 100%;
    display: inline-block;
    z-index: -1;
    left: 0%;

    color: rgba(25,29,43,.44);
}

.content-aboumtme {
    margin-top: 60px;
    display: flex;
    gap: 25px;
}


.content-aboumtme .img, .content-aboumtme .info{
    flex: 1;
}

.content-aboumtme .img img{
    width: 516px;
}

.content-aboumtme .info h1{
    font-size: 2rem;
}

.content-aboumtme .info h1 span{
    color: #037fff;
}

.content-aboumtme .info p{
    margin-top: 20px;
    font-size: 1.1rem;
    color: #a4acc4;
    line-height: 27px;
}

.content-aboumtme .info table{
    margin-top: 20px;
    font-size: 1.3rem;
    color: #a4acc4;
}

.content-aboumtme .info table tr td{
    padding-right: 30px;
}

.content-aboumtme .info table tr td.info-2::before{
    content: ':';
    padding-right: 10px;
}


.content-aboumtme .info button{
    margin-top: 50px;
    padding: 0 30px;
    height: 50px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 4px;
    line-height: 50px;
    font-weight: 300;
    background-color: #037fff;
    border: none;
    outline: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.content-aboumtme .info button::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    width: 100%;
    bottom: 0;
    left: -100%;
    transition: 1s;
}

.content-aboumtme .info button:hover::before{
    left: 0%;
    transition: 1s;
}

.services{
    padding: 80px 0;
}


.content-services{
    margin-top: 60px;
    display: flex;
    gap: 25px;
}

.content-services .service-box{
    flex: 1;
    border: 1px solid #2e344e;
    border-top: 5px solid #2e344e;
    transition: .7s;
}

.content-services .service-box:hover {
    border-top: 5px solid #037fff;
    transition: .7s;
}

.content-services .service-box .icon{
    padding: 14px 20px;
    font-size: 2rem;
    color: #037fff;
}

.content-services .service-box .title-service{
    font-size: 1.7rem;
    padding: 0 10px 10px 10px;
    position: relative;
}

.content-services .service-box .title-service::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #2e344e;
    bottom: 0;
    left: 10px;
}

.content-services .service-box p{
    padding: 15px;
    color: #a4acc4;
    line-height: 25px;
    font-size: 1.1rem;
}

/* Contact Page Code */

.contact{
    padding-top: 80px;
    max-width: 1050px;
    margin: 0 auto;
}

.contact-content{
    display: flex;
    padding: 80px 0;
    gap: 20px;
}

.contact-content .form, .contact-content .info{
    flex: 1;
}


.contact-content .form .form-title{
    font-size: 1.5rem;
}


.contact-content .form form{
    margin-top: 30px;
}

.contact-content .form form .form-input{
    margin-top: 24px;
    position: relative;
}


.contact-content .form form .form-input input{
    margin: 0 auto;
    width: 99%;
    padding: 15px;
    background-color: transparent;
    outline: none;
    border: 1px solid #2e344e;
    position: relative;
}

.contact-content .form form .form-input label{
    position: absolute;
    top: 0%;
    left: 3%;
    transform: translateY(-50%);
    background-color: #10121b;
    z-index: 2;
    color: #a4acc4;
}

.contact-content .form form .form-input textarea{
    background-color: transparent;
    outline: none;
    border: 1px solid #2e344e;
    resize: vertical;
    height: 197px;
    padding: 10px 15px;
    width: 100%;
}

.contact-content .form form .form-input button{
    padding: 20px 25px;
    color: white;
    background-color: #037fff;
    outline: none;
    border: none;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
}

.contact-content .form form .form-input button:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0%;
    left: -100%;
    background-color: white;
    transition: 1s;
}

.contact-content .form form .form-input button:hover::before{
    left: 0;
    transition: 1s;
}

.contact-content .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-content .info .info-box{
    background-color: #191d2b;
    padding: 30px;
}

.contact-content .info .info-box .icon{
    font-size: 2rem;
    color: #a4acc4;
}

.contact-content .info .info-box .icon{
    display: inline-block;
    border: 1px solid #2e344e;
    padding: 20px;
}

.contact-content .info .info-box .text{
    display: inline-block;
    padding-left: 20px;
    font-size: 1.4rem;
}

.contact-content .info .info-box .text span{
    color: #a4acc4;
}

/* Blog Page Code */


.blog{
    padding: 80px 0;
    max-width: 1050px;
    margin: 0 auto;
}


.blog-container{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-container .blog-box{
    width: 47%;
    background-color: #191d2b;
}

.blog-container .blog-box .img {
    margin: 15px 15px 8px 15px;
    overflow: hidden;
    position: relative;
}

.blog-container .blog-box .img img{
    width: 100%;
    height: 100%;
    transition: .7s;
}


.blog-container .blog-box .img:hover img{
    transform: scale(1.2);
    transition: .7s;
}

.blog-container .blog-box h1{
    margin: 0 15px 10px 15px;
    color: #fff;
}

.blog-container .blog-box .date{
    position: absolute;
    background-color: #037fff;
    z-index: 10;
    padding: 15px;
    top: 20px;
    left: 20px;
    font-size: 1.7rem;
    color: white;
    min-height: 80px;
    font-weight: 800;
    min-height: 80px;
    text-align: center;
}


/* Pagination Code */


.pagination {
    margin-top: 50px;
    font-size: 17px;
}

.pagination a{
    border: 1px solid #037fff;
    color: #037fff;
    padding: 12px;
    margin: 2px;
}

.pagination a.active{
    color: white;
    background-color: #037fff !important;
}


/* Portfolio Page Code */

.portfolio-container{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.portfolio-container .portfolio-box{
    flex: 32%;
    overflow: hidden;
}

.portfolio-container .portfolio-box img{
    width: 100%;
}

.portfolio-container .portfolio-box .img{
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.portfolio-container .portfolio-box .img::before{
    content: '';
    width: 90%;
    height: 82%;
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: 0.9;
    left: -100%;
    transition: 1s;

}

.portfolio-container .portfolio-box .img:hover::before{
    left: 5%;
    transition: 1s;
}

.portfolio-container .portfolio-box .img .icons{
    position: absolute;
    bottom: -40px;
    visibility: hidden;
    z-index: 100;
    transition: .4s;
    top: 66%;
    transform: translateY(-10%);
}

.portfolio-container .portfolio-box .img .icons i{
    background-color: #a4acc4;
    border-radius: 50%;
    font-size: 1.6rem;
    display: inline-flex;
    padding: 10px;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.portfolio-container .portfolio-box .img:hover .icons{
    visibility: visible;
    top: 50%;
    transition: .7s;
}

.portfolio-container .portfolio-box .img .icons i:hover{
    background-color: #037fff;
    transition: .5s;
}

.portfolio-container .portfolio-box .p-title{
    margin: .7rem 0;
} 

.portfolio-container .portfolio-box .p-title p{
    color: #a4acc4;
    font-size: 1.14rem;
    line-height: 1.857rem;
    font-weight: 500;
}

.portfolio-container .portfolio-box .p-title a{
    color: white;
}

.portfolio-container .portfolio-box .p-title a:hover{
    color: #037fff;
    transition: .8s;
}

/* Resume Page Code */

.skill-container{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
} 

.skill-container .skill-box{
    background-color: #037fff;
    padding: 15px;
    font-weight: bold;
}


.resume-container{
    padding-top: 70px;
}

.resume-container .resume-title{
    display: flex;
    gap: 10px;
}

.resume-container .resume-title span{
    padding-top: 2px;
    font-size: 1.4rem;
    color: #a4acc4;
}

.resume-container .resume-inner{
    border-left: 3px solid #2e344e;
}


.resume-container .resume-inner .work{
    margin-top: 23px;
    gap: 20px;
    display: flex;
}

.resume-container .resume-inner .date{
    flex: 0 0 24%;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    font-size: 1.14rem;
    line-height: 1.857rem;
    color: #a4acc4;
    margin-bottom: 0;
}

.resume-container .resume-inner .date::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #2e344e;
    background-color: #10121b;
    position: absolute;
    left: -30px;
    top: 4px;
}

.resume-container .resume-inner .info{
    flex: 0 0 76%;
    margin-top: 10px;
}

.resume-container .resume-inner .info h5{
    font-size: 1.43rem;
    line-height: 2.14rem;
    color: #037fff;
    margin-bottom: 0;
    font-weight: 700;
}

.resume-container .resume-inner .info p.place{
    font-size: 1.14rem;
    line-height: 1.857rem;

}

.resume-container .resume-inner .info p.text{
    font-size: 1.125rem;
    line-height: 1.8rem;
    font-family: Nunito,sans-serif;
    color: #a4acc4;
    font-weight: 400;
    background: #10121b
}


/* Particular Js Code */

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #10121b;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Responsoive Design Code */

@media screen and (max-width: 1199px) {
    header {
        transform: translateX(-100%);
    }

    .btn {
        display: block;
    }

    main .content {
        margin-left: 0px;
    }

}

@media screen and (max-width: 1060px) {
    .blog, .contact{
        max-width: 800px !important;
    }
}

@media screen and (max-width: 754px) {
    .col .header {
        padding: 150px 60px 0 60px !important;
    }

    .blog, .contact {
        max-width: 600px !important;
    }

    .blog-container{
        flex-direction: column;
    }

    .blog-container .blog-box{
        width: 100% !important;
    }
}

@media screen and (max-width: 992px) {
    .content-aboumtme {
        flex-direction: column !important;
        max-width: 700px !important;
        margin: 60px auto;
    }

    .contact-content{
        flex-direction: column;
    
    }

    .contact-content .info{
        margin-top: 30px;
    }


    .aboutme .title {
        max-width: 700px !important;
        margin: 0 auto;
    }

    .services {
        max-width: 700px !important;
        margin: 0 auto;
    }

    .content-aboumtme .img,
    .content-aboumtme .info {
        width: 100% !important;
    }

    .content-aboumtme .img img {
        width: 100% !important;
    }

}


@media screen and (max-width: 768px) {
    .content-aboumtme {
        flex-direction: column !important;
        max-width: 500px !important;
    }

    .portfolio-box{
        width: 100% !important;
        flex: none !important;
    }


    .aboutme .title {
        max-width: 500px !important;
    }

    .services , .contact{
        max-width: 500px !important;
    }

    .content-services {
        display: flex !important;
        flex-wrap: wrap !important;
    }


    .services .service-box {
        flex: none !important;
        width: 220px !important;
    }
}


@media screen and (max-width: 730px) {
    .content-services {
        flex-direction: row !important;

    }

    .content-aboumtme {
        max-width: 400px !important;
    }


    .aboutme .title {
        max-width: 400px !important;

    }

    .services {
        max-width: 400px !important;
    }

    .services .service-box {
        max-width: 400px;
        width: 100% !important;
        margin: 0 auto;
    }
}


@media screen and (max-width: 603px) {
    #particles-js {
        height: 150vh !important;
    }

    .col .header {
        padding: 90px 10px 0 20px !important;
    }

    .blog, .contact {
        max-width: 500px !important;
    }
}


@media screen and (max-width: 530px) {
    .content-aboumtme , .contact{
        max-width: 350px !important;
    }

    .blog {
        max-width: 400px !important;
    }

    .aboutme .title {
        max-width: 350px !important;

    }


    .resume-container .resume-inner .work{
        flex-direction: column;
    }

    .resume-container .resume-inner .work .info{
        margin-left: 20px;
    }

    .contact .title h1,.portfolio .title h1
    {
        font-size: 2rem;    
    }

    .contact .title span, .portfolio .title span{
        font-size: 3rem;
    }

    .contact-content .info .text{
        font-size: 1rem !important;
    }

    .contact-content .info .icon{
        font-size: 1.4rem !important;
    }


    .services {
        max-width: 350px !important;
    }

    .services .service-box {
        max-width: 350px;
        width: 100% !important;
        margin: 0 auto;
    }

    .portfolio{
        max-width: 300px;
    }

}


@media screen and (max-width: 430px){
    .resume-div{
        max-width: 300px !important;
    }

    .contact .title span{
        font-size: 2.5rem;
    }

    .resume-div .work .info h5{
        font-size: 1.23rem !important;
    }

    .resume-container .resume-inner .info p.place{
        font-size: 1rem;
    
    }

    .resume-container .resume-inner .info p.text{
        font-size: 0.9rem;
    }

    .resume-div .skill-box .skill-inner span{
        font-size: 1rem;
    }

    #index .text h1{
        font-size: 2.6rem;
    }

    #index .text p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px){
    .resume-div .skill-box .skill-inner span{
        font-size: 0.9rem;
    }

    #index .text h1{
        font-size: 2.3rem;
    }

    #index .text p{
        font-size: 0.9rem;
    }
}